@import "site.css";

.font-color-lib {
    color: var(--font-color-primary);
}

.pic-detail-lib {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}