@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-cream: #F6F2E7;
  --color-green: #ACBD93;
  --color-blue: #3C4E62;

  --font-color-primary: #3C4E62;
}

* {
  padding: 0;
  margin: 0;
  /* font-family: "Noto Sans Thai", serif; */
  font-family: "Sarabun", serif;
}

.backgroundLibrary {
  background-color: var(--color-cream);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--color-green);
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none; /* ซ่อนปุ่มเริ่มต้น */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #6b8d39;
}

.scroll-to-top.show {
  display: flex;
}
